body{
    background-color: dimgray;
}
.error-message {
    color: red;
    font-weight: bold;
    font-size: 50;
}
g {
            cursor: pointer;
            transition: fill 0.3s ease;
        }

        g.selected path {
            fill: orange;
        }

        g:hover path {
            fill: #ffa;
        }