<html>
    <head>
        <title> About </title>
        <link rel="stylesheet" href="styles.css">
    </head>
    <body>
        {% extends "base.html" %}
        {% block title %}About{% endblock %}
        {% block content %}
        <h1> About My Project - Jaiden Preddie</h1>
        <p>
            One thing that has plauged America since the beginning of its founding is the underlying racial tension.<br>
            In recent times these tensions have been most clearly seen in policy brutatility. <br>
            So for my data anaylsis I took a look at the races of people who were arrested for RESISTING ARREST.

        </p>
        <img src="{{ url_for('static', filename='IMG_5894.JPG') }}" alt="Page ONE" style="transform: rotate(270deg); width: 500px; margin-left: 80px;">
        <br>
        <img src="{{ url_for('static', filename='IMG_5895.JPG') }}" alt="Page TWO" style="transform: rotate(270deg); width: 500px; margin-left: 80px;">
        <footer>
            Links to my data:https://catalog.data.gov/dataset/nypd-arrest-data-year-to-date
        </footer>
        {% endblock %}
    </body>
</html>